
    $orange-dark: hsl(30,100,47);
    $orange-medium: hsl(34,88,60);
    $orange-light: hsl(30,83,77);

    $grey-strong: hsl(200,100,10);
    $grey-dark: hsl(228,16,63);
    $grey-medium: hsl(226,20,75);
    $grey-light: hsl(225,29,95);
    $grey-background: hsl(216,100,99);
    $box-shadow: hsl(216,26,96);

    $green-strong: hsl(165,34,23);
    $green-dark: hsl(166,32,27);
    $green-medium: hsl(163,25,67);
    $green-light: hsl(159,43,51); 
